*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'lonstar'cursive;
    
    
}
.navbar-brand:hover{
    color: black;

}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Rubik' , sans-serif;

}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 150px;
    margin-right: -35px;
    border-radius: 60px;
    outline: none;
    border: 2px solid  rgb(246, 19, 92);
    font-family: 'Rubik' , sans-serif;
}
.btn0{
    height: 40px;
    width: 60px;
    outline: none;
    border: none;
    background-color: rgb(246, 19, 92);
    border-radius: 17px;
    font-family: 'Rubik' , sans-serif;

}

.main{
    background-image: url(imgss/bag.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 40% 40%;
    width: 100%;

}
 .main h1{
    font-size: 3rem;
    font-weight: 700;
 }
 .btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 11, 86);
    border-radius: 10px;
    font-weight: 700;
 }
.btn1:hover{
    background-color: rgb(5, 122, 38);
}





.banner-container{

    display: flex;
    margin: 30px 10px;
    padding: 10px 100px;
    }
.banner{   
     padding: 0PX 10px;
}
.about{
    margin: 70px;
}



















